#section2 .box-container {
  justify-content: space-between;
}

.center {
  text-align: center;
}
#header {
  /* align-items: center;
  justify-content: space-around; */
  padding: 20px 0;
}

#logo {
  width: 173px;
  vertical-align: middle;
  margin-top: -6px;
}
.line {
  width: 1px;
  height: 48px;
  display: none;
  position: absolute;
  margin-left: 10px;
  background-color: #979797;
}
.tagline {
  color: #000;
  font-family: "Source Sans Pro", sans-serif;
  display: inline-flex;
  font-size: 22px;
}
#hero {
  background: url(../img/hero-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 40px 0;
}
.overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  /* opacity: 0.75;
  color: #000; */
}
#hero h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 20px;
}
#hero p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  padding-bottom: 30px;
}
#hero h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
#hero h3 {
  font-size: 17px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.58);
  text-align: center;
  margin-bottom: 20px;
}

.form-control {
  color: #6e6e6e;
}
form {
  background-color: #ffffff;
  padding: 15px 10px;
  border-radius: 5px;
}

form,
form option {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #6e6e6e;
  text-align: center;
}

form h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #232323;
}

#checkbox-label {
  color: #2a2828;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.nopadding-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}
#apply-btn {
  background-color: #8c1515;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 70px;
}

#video {
  max-width: 800px;
  max-height: 360px;
  margin: 0 auto;
}

#section2 {
  padding: 50px 0;
}

#section2 h1,
#section3 h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #232323;
  text-align: center;
}

.s-red-small {
  width: 49px;
  height: 2px;
  background: #383838;
  margin-top: 0;
  margin-bottom: 20px;
}

.s-red {
  width: 116px;
  height: 4px;
  background: #8c1515;
  margin-top: 0;
  margin-bottom: 20px;
}
.box {
  padding: 30px 30px 10px;
  margin: 20px 10px;
  box-shadow: 3px 3px 18px 0 rgba(0, 0, 0, 0.24);
}
.icon {
  margin-bottom: 25px;
}
.desc {
  font-family: "Source Sans Pro", sans-serif;
  color: #313131;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 25px;
}
.source {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

#section3 {
  background-color: #e2ddcb;
  padding: 50px 0;
}

#section3 p {
  font-family: "Source Sans Pro", sans-serif;
  color: #232323;
  line-height: 1.7;
  font-size: 16px;
  font-weight: normal;
  margin: 20px 0;
  padding: 0 20px;
}

#accordion .panel-heading .accordion-toggle.collapsed i {
  color: #000;
  transform: rotate(-135deg);
  transition: all 0.2s ease-in;
}
.panel-default a {
  width: 100%;
  position: relative;
  display: block;
  text-decoration: none;
}

.panel-default > .panel-heading {
  background-color: #ffffff;
  color: #131212;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px;
}

.panel-group .panel {
  border-radius: 0;
}

.panel {
  border: solid 1px #979797;
  border-radius: 0;
  box-shadow: none;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.glyphicon {
  position: absolute;
  right: 0;
}
.panel-body {
  padding: 50px 20px;
}

.centered {
  margin: 0 auto;
}

.quote-img {
  width: 37px !important;
  height: 32px !important;
}

.panel-title {
  font-size: 13px;
}

#section4 {
  padding: 125px 0 150px;
}

.carousel-control {
  top: -35px;
}

.quote-txt {
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #232323;
  font-size: 14px;
  font-weight: normal;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0 20px;
}

.quote-author {
  line-height: normal;
  letter-spacing: normal;
  color: #232323;
  font-size: 14px;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  text-align: right;
}

footer {
  position: fixed;
  display: none;
  bottom: 0;
  width: 100%;

  background-color: #8c1515;
  padding: 20px 0;
}

footer p {
  color: #fff;
  text-align: right;
  font-size: 14px;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  margin: 0;
}

/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control {
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left {
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right {
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active {
  background: #333333;
}
#quote-carousel img {
  /* width: 250px;
  height: 100px; */
}
/* End carousel */

.item blockquote {
  border-left: none;
  margin: 0;
}

.item blockquote img {
  margin-bottom: 10px;
}

.item blockquote p:before {
  content: "\f10d";
  font-family: "Fontawesome";
  float: left;
  margin-right: 10px;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #quote-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
}

#quote-carousel img {
  width: 24px;
}

@media only screen and (max-width: 767px) {
  .row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  footer p {
    padding-bottom: 20px;
  }

  footer button#apply-btn-2 {
    padding: 5px 20px !important;
    font-size: 14px;
    background-color: #eaab00;
    font-weight: bold;
  }
}

@media only screen and (min-width: 768px) {
  .row {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  #section2 .box-container {
    justify-content: space-between;
  }
  .tagline {
    font-size: 30px;
    padding-left: 25px;
  }

  .panel-title {
    font-size: 16px;
  }

  footer p {
    font-size: 24px;
  }

  footer button#apply-btn-2 {
    font-family: "Source Sans Pro", sans-serif;
    background-color: #eaab00;
    color: #000;
    padding: 10px 40px !important;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

  #section3 p {
    font-size: 20px;
  }
  .quote-txt {
    font-size: 18px;
  }
  .quote-author {
    font-size: 18px;
  }

  #hero h1 {
    font-size: 38px;
  }

  #hero h2 {
    font-size: 19px;
  }

  #hero p {
    font-size: 23px;
    margin-bottom: 50px;
  }
  #hero h3 {
    font-size: 21px;
  }

  form h4 {
    font-size: 24px;
  }

  #section2 h1,
  #section3 h1 {
    font-size: 32px;
  }
  #section2 {
    padding: 100px 0;
  }
  .quote-txt {
    padding: 0 10px;
  }
  #apply-btn {
    font-size: 19px;
  }
  #quote-carousel img {
    width: 34px;
  }

  .line {
    display: inline-block;
  }
}
